@import '../src-ts/test-component/index.scss';
@import '../src-ts/login/index.scss';
@import '../src-ts/table-row/index.scss';

.red {
  color: red;
}

* {
  background-color: #EEE;
  font-family: Arial, Helvetica, sans-serif;
}
